<h1>New subtraction</h1>
<form action="/wizard_subtract">
  <div><label for="first_number">Subtract this:</label>
          <input id="first_number" name="first_num">
        <label for="second_number"> from this:</label>
        <input id="second_number" name="second_num">
        <button>Subtract!</button>
    </div>
